<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace속성:매퍼파일의 완전한경로 .xml는 생략 -->
<mapper namespace="com.allstar.studygame.mapper.longWordMapper">
	
	<resultMap type="longWordDTO" id="longWordDTOResult">
			<result property="longwordQuizNo" column="longword_quiz_no"/>
			<result property="categoryNo" column="category_no"/>
			<result property="longwordQuiz" column="longword_quiz"/>
			<result property="longwordQuizInfo" column="longword_quiz_info"/>
	</resultMap>

	<select id="selectLongWordQuizList" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT  longword_quiz AS quiz ,longword_quiz_info AS info FROM longword_quiz 
		WHERE category_no =#{categoryNo} order by rand() limit 20
	</select>
	
	
	<insert id="insertAvgTypingSpeed" parameterType="java.util.Map">
		INSERT INTO avg_typing_speed values (#{id},#{typingSpeed},default)
	</insert>
	
	<select id="selectTargetTypingSpeed" parameterType="String" resultType="String">
		select target_typing_speed as targetTypingSpeed from member_ where id= #{id}
	</select>
	
	<select id="selectAvgTypingSpeedList" parameterType="String" resultType="java.util.Map">
		select * from avg_typing_speed where id= #{id} order by typing_date desc, rand() limit 5
	</select>
	
</mapper>